<a href="https://colab.research.google.com/github/felipe-sanches/heart-disease/blob/main/heart_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modelo de Classificação

As etapas são sempre as mesmas: 

1- importar os pacotes necessários

2- escolher e importar um modelo

3- escolher e instanciar hyperparameters

4- Separar os dados entre feature matrix e target vector-ATENCAO 1 feature

4.1- Dividir em treino e teste

5- Fit do modelo ( treino)

6- Fazer previsoes acima dos novos dados

# Dicionário de variáveis
**age**: idade em anos

**sex**: sexo (1 = masculino; 0 = feminino)

**cp**: tipo de dor no peito
- Valor 1: angina típica
- Valor 2: angina atípica
- Valor 3: dor não anginosa
- Valor 4: assintomático

**trestbps**: pressão arterial em repouso (em mm Hg na admissão ao hospital)

**chol**: colesterol sérico em mg / dl

**fbs**: (açúcar no sangue em jejum> 120 mg / dl) (1 = verdadeiro; 0 = falso)

**restecg**: resultados eletrocardiográficos em repouso
- Valor 0: normal
- Valor 1: tendo anormalidade da onda ST-T (inversões da onda T e / ou elevação ou depressão ST> 0,05 mV)
- Valor 2: mostrando hipertrofia ventricular esquerda provável ou definitiva pelos critérios de Estes

**thalach**: frequência cardíaca máxima alcançada

**exang**: angina induzida por exercício (1 = sim; 0 = não)

**oldpeak**: depressão de ST induzida por exercício em relação ao repouso

**slope**: a inclinação do segmento ST de pico do exercício
- Valor 1: inclinação ascendente
- Valor 2: plano
- Valor 3: declive

**ca**: número de vasos principais (0-3) coloridos por fluorosopia

**thal**: 3 = normal; 6 = defeito corrigido; 7 = defeito reversível

**num**: diagnóstico de doença cardíaca (status da doença angiográfica)
- Valor 0: estreitamento de diâmetro <50%
- Valor 1: estreitamento do diâmetro> 50%

In [1]:
#importando as bibliotecas necessarias
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns

#importando dataset
df = pd.read_csv('https://raw.githubusercontent.com/felipe-sanches/heart-disease/main/heart-disease-clean.csv')

#verificando tamanho do dataset e primeiras entradas
print('Tamanho do dataset: ',df.shape)
df.head()

Tamanho do dataset:  (303, 14)

    age  sex   cp  trestbps   chol  fbs  ...  exang  oldpeak  slope   ca  thal  num
0  63.0  1.0  1.0     145.0  233.0  1.0  ...    0.0      2.3    3.0  0.0   6.0    0
1  67.0  1.0  4.0     160.0  286.0  0.0  ...    1.0      1.5    2.0  3.0   3.0    1
2  67.0  1.0  4.0     120.0  229.0  0.0  ...    1.0      2.6    2.0  2.0   7.0    1
3  37.0  1.0  3.0     130.0  250.0  0.0  ...    0.0      3.5    3.0  0.0   3.0    0
4  41.0  0.0  2.0     130.0  204.0  0.0  ...    0.0      1.4    1.0  0.0   3.0    0

[5 rows x 14 columns]

In [2]:
#Importando bibliotecas e o modelo a ser utilizado
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [3]:
#Instanciando modelo e escolhendo hyperparameters
model = LogisticRegression()

#separando os dados entre feature matrix e target vector
X = df.drop('num', axis =1)
y = df['num']

#Dividindo os dados entre treino e teste
X_train, X_test, y_train, y_test = train_test_split(X,y)

#Padronizando os dados de treino
scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)

#Fit do modelo
model.fit(X_train, y_train)

#Previsões em cima de novos dados

##padronização dos dados de teste
X_test = scaler.transform(X_test)

y_pred = model.predict(X_test)

print(y_pred)

[1 1 0 0 1 1 0 1 0 0 0 0 1 1 1 0 0 1 1 0 0 1 1 0 1 0 0 0 1 0 0 1 1 0 1 0 1
 1 0 0 1 0 0 1 0 0 0 1 1 1 1 0 0 0 1 1 0 1 1 0 0 1 1 0 1 0 0 1 1 1 0 1 1 1
 0 1]

In [4]:
df['num'].unique()

array([0, 1])